<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--  Database Connection Settings  -->
    <add name="CelestialError" connectionString="Server=127.0.0.1; Port=3306; Database=celestialError; Uid=production; Password=xUbWQw6Oqe$u6dgqXX1F6xe[,FlGAZpj;"/>
  </connectionStrings>
  <appSettings>
    <!--  LDAP AppSettings.  -->
    <add key="LdapDomainName" value="ldap.efif.dk"/>
    <add key="LdapIPAddress" value="10.255.1.4"/> <!-- Use if Domain Name is invalid or server down. --> 
    <add key="LdapDirectory" value="OU=ZBC,OU=UserAccounts,DC=efif,DC=dk"/>
    <add key="LdapAuthUser" value="zbc-maskinnavn"/>
    <add key="LdapAuthPass" value="Zorro.b.c"/>
    
    <!--  SMS Service AppSettings  -->
    <add key="SmsMessageKey" value="2e9a42f3-1353-46e2-ba61-3ef81c5d8693"/>
    
    <!--  Discord AppSettings.  -->
    <add key="DiscordBotToken" value=""/>
    <add key="CommandPrefix" value="!"/>
  </appSettings>
</configuration>